DATABASE_URL="postgresql://user:password@ep-rest-of-url.neon.tech/neondb?sslmode=require"
GROQ_API_KEY="your-groq-api-key"
GROQ_MODEL_ID="openai/gpt-oss-120b"
JWT_SECRET="examplejwtsecret"
MAPPLS_API_KEY="the-api-key"
MAPMYINDIA_API="copy-the-same-above-api-key"
